In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style

In [3]:
xlsx = pd.ExcelFile('data_telco.xlsx')
telco = pd.read_excel(xlsx, 'data_telco')

In [4]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 42 columns):
region                          1000 non-null object
Months with service             1000 non-null int64
age                             1000 non-null int64
Marital Status                  1000 non-null int64
Years at current address        1000 non-null int64
Household income in thousand    1000 non-null int64
Level of Education              1000 non-null int64
Years with current employer     1000 non-null int64
Retired                         1000 non-null int64
Gender                          1000 non-null object
No. of people in household      1000 non-null int64
Tollfree service                1000 non-null int64
Equipment rental                1000 non-null int64
Calling card service            1000 non-null int64
Wireless Service                1000 non-null int64
Long distance last month        1000 non-null float64
Tollfree last month             1000 non-null float64
Equipment last month            1000 non-null float64
Calling card last month         1000 non-null float64
Wireless last month             1000 non-null float64
Long distance over tenure       1000 non-null float64
Toll free over tenure           1000 non-null float64
Equipment over tenure           1000 non-null float64
Calling card over tenure        1000 non-null float64
Wireless over tenure            1000 non-null float64
Multiple lines                  1000 non-null int64
Voice mail                      1000 non-null int64
Paging service                  1000 non-null int64
internet                        1000 non-null int64
callid                          1000 non-null int64
Call waiting                    1000 non-null int64
Call forwarding                 1000 non-null int64
3-way calling                   1000 non-null int64
Electronic billing              1000 non-null int64
Log-long distance               1000 non-null float64
logtoll                         475 non-null float64
Log-equipment                   386 non-null float64
Log-calling card                678 non-null float64
Log-wireless                    296 non-null float64
Log-income                      1000 non-null float64
Customer category               1000 non-null object
Churn within last month         1000 non-null int64
dtypes: float64(16), int64(23), object(3)
memory usage: 316.4+ KB

In [5]:
total = telco.isnull().sum()
percent1 = telco.isnull().sum()*100/telco.isnull().count()
percent = (round(percent1,1))
missing_data = pd.concat([total,percent],axis = 1,keys = ['total_null','percent_null']).transpose()
missing_data

,region,Months with service,age,Marital Status,Years at current address,Household income in thousand,Level of Education,Years with current employer,Retired,Gender,...,3-way calling,Electronic billing,Log-long distance,logtoll,Log-equipment,Log-calling card,Log-wireless,Log-income,Customer category,Churn within last month
total_null,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,525.0,614.0,322.0,704.0,0.0,0.0,0.0
percent_null,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,52.5,61.4,32.2,70.4,0.0,0.0,0.0

In [6]:
def deep_describe(data):
    cmsq = data.describe()
    
    mode = data.mode(axis = 0,numeric_only=True)
    mode = mode.dropna(axis = 0,how='any')
    mode = mode.set_index([['mode']])
    
    median = pd.DataFrame(data.median()).transpose()
    median = median.set_index([['median']])
    
    kurtosis = pd.DataFrame(data.kurtosis()).transpose()
    kurtosis = kurtosis.set_index([['kurtosis']])
    
    skew = pd.DataFrame(data.skew()).transpose()
    skew = skew.set_index([['skewness']])
    
    tr = [cmsq,mode,median,skew,kurtosis]
    return pd.concat(tr)
    
deep_describe(telco)

,Months with service,age,Marital Status,Years at current address,Household income in thousand,Level of Education,Years with current employer,Retired,No. of people in household,Tollfree service,...,Call forwarding,3-way calling,Electronic billing,Log-long distance,logtoll,Log-equipment,Log-calling card,Log-wireless,Log-income,Churn within last month
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,475.000000,386.000000,678.000000,296.000000,1000.000000,1000.000000
mean,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,2.331000,0.474000,...,0.493000,0.502000,0.371000,2.181930,3.239874,3.568135,2.854027,3.597872,3.957000,0.274000
std,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,1.435793,0.499573,...,0.500201,0.500246,0.483314,0.734301,0.413795,0.277567,0.557612,0.367397,0.803548,0.446232
min,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,-0.110000,1.750000,2.730000,1.010000,2.700000,2.200000,0.000000
25%,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.650000,2.970000,3.370000,2.460000,3.330000,3.370000,0.000000
50%,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,2.000000,0.000000,...,0.000000,1.000000,0.000000,2.145000,3.210000,3.570000,2.850000,3.590000,3.850000,0.000000
75%,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,3.000000,1.000000,...,1.000000,1.000000,1.000000,2.670000,3.490000,3.760000,3.210000,3.860000,4.420000,1.000000
max,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,8.000000,1.000000,...,1.000000,1.000000,1.000000,4.600000,5.150000,4.350000,4.690000,4.720000,7.420000,1.000000
mode,72.000000,33.000000,0.000000,1.000000,25.000000,2.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.450000,3.310000,3.670000,2.930000,3.330000,3.220000,0.000000
median,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,2.000000,0.000000,...,0.000000,1.000000,0.000000,2.145000,3.210000,3.570000,2.850000,3.590000,3.850000,0.000000
skewness,0.111860,0.356664,0.020031,1.106246,6.643272,0.193271,1.061049,4.287311,1.033446,0.104297,...,0.028045,-0.008012,0.534884,0.166539,0.301884,0.032305,0.079859,0.200068,0.701908,1.014956
kurtosis,-1.228352,-0.604164,-2.003610,0.859729,69.697327,-1.059275,0.530891,16.413862,0.404474,-1.993112,...,-2.003224,-2.003948,-1.717338,-0.000311,1.102100,-0.343544,0.103588,-0.164742,0.672495,-0.971813

Now we have the 4 quartiles, count of the values, standard deviation and min and max values of data with all mean mode and median with skewness and kurtosis of data.

Now we make the correlation matrix so that we can select the data which we should include in our regression tree.
Now since the data from 4 columns is more than 30% missing so we drop those columns.

We have catagorical variables so we just use dummy fuction of pandas.

In [7]:
tel_data = telco.dropna(axis = 1)
tel_data = pd.get_dummies(tel_data)

In [8]:
targets = pd.DataFrame(telco['Churn within last month'])

features = tel_data.drop(['Churn within last month'],axis = 1)
features.info()
x_train,x_test,y_train,y_test = train_test_split(features,targets,train_size = 0.7,random_state = 42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 43 columns):
Months with service                1000 non-null int64
age                                1000 non-null int64
Marital Status                     1000 non-null int64
Years at current address           1000 non-null int64
Household income in thousand       1000 non-null int64
Level of Education                 1000 non-null int64
Years with current employer        1000 non-null int64
Retired                            1000 non-null int64
No. of people in household         1000 non-null int64
Tollfree service                   1000 non-null int64
Equipment rental                   1000 non-null int64
Calling card service               1000 non-null int64
Wireless Service                   1000 non-null int64
Long distance last month           1000 non-null float64
Tollfree last month                1000 non-null float64
Equipment last month               1000 non-null float64
Calling card last month            1000 non-null float64
Wireless last month                1000 non-null float64
Long distance over tenure          1000 non-null float64
Toll free over tenure              1000 non-null float64
Equipment over tenure              1000 non-null float64
Calling card over tenure           1000 non-null float64
Wireless over tenure               1000 non-null float64
Multiple lines                     1000 non-null int64
Voice mail                         1000 non-null int64
Paging service                     1000 non-null int64
internet                           1000 non-null int64
callid                             1000 non-null int64
Call waiting                       1000 non-null int64
Call forwarding                    1000 non-null int64
3-way calling                      1000 non-null int64
Electronic billing                 1000 non-null int64
Log-long distance                  1000 non-null float64
Log-income                         1000 non-null float64
region_Zone 1                      1000 non-null uint8
region_Zone 2                      1000 non-null uint8
region_Zone 3                      1000 non-null uint8
Gender_Female                      1000 non-null uint8
Gender_Male                        1000 non-null uint8
Customer category_Basic Service    1000 non-null uint8
Customer category_E-service        1000 non-null uint8
Customer category_Plus Service     1000 non-null uint8
Customer category_Total Service    1000 non-null uint8
dtypes: float64(12), int64(22), uint8(9)
memory usage: 274.5 KB

c:\users\aish.gupta\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [9]:
logit = LogisticRegression()
fitted_logit = logit.fit(x_train,y_train)

c:\users\aish.gupta\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
test_telco = fitted_logit.predict(x_test)

In [11]:
pd.DataFrame(confusion_matrix(y_test,test_telco))
roc_auc_score(y_test,test_telco)

0.681296340588376

In [21]:
from sklearn.linear_model import LogisticRegressionCV

tel_data_CV = telco.dropna(axis = 1)

features_CV = tel_data.drop(['Churn within last month'],axis = 1)

x_train_CV,x_test_CV,y_train_CV,y_test_CV = train_test_split(features,targets,train_size = 0.7,random_state = 42)

logit_CV = LogisticRegressionCV(cv=5)
fitted_logit_CV = logit_CV.fit(x_train_CV,y_train_CV)

test_telco_CV = fitted_logit_CV.predict(x_test_CV)

pd.DataFrame(confusion_matrix(y_test_CV,test_telco_CV))
roc_auc_score(y_test_CV,test_telco_CV)

c:\users\aish.gupta\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)
c:\users\aish.gupta\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6539105477158574

In [52]:
prob = pd.DataFrame(fitted_logit_CV.predict_proba(x_test_CV))
given = y_test_CV.reset_index().drop(['index'],axis = 1)

given.join(prob)

     Churn within last month         0         1
0                          0  0.909952  0.090048
1                          1  0.666937  0.333063
2                          0  0.580444  0.419556
3                          0  0.889714  0.110286
4                          1  0.555770  0.444230
5                          0  0.703022  0.296978
6                          1  0.392743  0.607257
7                          0  0.685163  0.314837
8                          1  0.617198  0.382802
9                          0  0.791972  0.208028
10                         0  0.709514  0.290486
11                         1  0.815868  0.184132
12                         0  0.716226  0.283774
13                         0  0.989663  0.010337
14                         1  0.561873  0.438127
15                         0  0.659490  0.340510
16                         0  0.390307  0.609693
17                         0  0.686366  0.313634
18                         1  0.451994  0.548006
19                         1  0.498534  0.501466
20                         1  0.472770  0.527230
21                         0  0.969811  0.030189
22                         0  0.882536  0.117464
23                         1  0.700563  0.299437
24                         0  0.703344  0.296656
25                         0  0.876235  0.123765
26                         0  0.875314  0.124686
27                         1  0.414037  0.585963
28                         0  0.869936  0.130064
29                         0  0.914671  0.085329
..                       ...       ...       ...
270                        1  0.709531  0.290469
271                        0  0.915339  0.084661
272                        1  0.403546  0.596454
273                        0  0.425694  0.574306
274                        0  0.776968  0.223032
275                        0  0.975853  0.024147
276                        0  0.605490  0.394510
277                        0  0.781463  0.218537
278                        1  0.435165  0.564835
279                        0  0.934640  0.065360
280                        0  0.832492  0.167508
281                        0  0.532721  0.467279
282                        0  0.914921  0.085079
283                        0  0.509076  0.490924
284                        1  0.432355  0.567645
285                        0  0.798834  0.201166
286                        0  0.844555  0.155445
287                        1  0.828921  0.171079
288                        0  0.454216  0.545784
289                        0  0.477237  0.522763
290                        0  0.665734  0.334266
291                        0  0.995852  0.004148
292                        0  0.590223  0.409777
293                        0  0.717205  0.282795
294                        0  0.606559  0.393441
295                        0  0.989547  0.010453
296                        0  0.668668  0.331332
297                        0  0.674305  0.325695
298                        0  0.480764  0.519236
299                        0  0.605616  0.394384

[300 rows x 3 columns]